{
    "extends": "eslint-config-airbnb",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "import/resolver": {
            "eslint-import-resolver-typescript": true
        }
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "react/destructuring-assignment": 0,
        "prefer-destructuring": 0,
        "react/jsx-one-expression-per-line": 0,
        "react/jsx-wrap-multilines": [0, {
            "declaration": "parens",
            "assignment": "parens",
            "return": "parens",
            "arrow": "parens",
            "condition": "parens",
            "logical": "parens",
            "prop": "parens"
        }],

        "react/forbid-foreign-prop-types": 0,
        "react/default-props-match-prop-types": 0,
        "operator-linebreak": [1, "after"],
        "implicit-arrow-linebreak": 0,
        "object-curly-newline": 0,
        "function-paren-newline": [1, "consistent"],
        "max-len": 0,
        "no-continue": 0,
        "no-param-reassign": [
            "error",
            {
                "props": false
            }
        ],
        "indent": [
            1,
            2
        ],
        "react/require-default-props": 0,
        "react/prefer-stateless-function": 0,
        "react/no-array-index-key": 0,
        "react/jsx-closing-bracket-location": 1,
        "react/jsx-indent-props": [
            1,
            2
        ],
        "react/jsx-indent": [
            1,
            2
        ],
        "react/jsx-filename-extension": 0,
        "react/no-unused-prop-types": 0,
        "react/forbid-prop-types": 0,
        "semi": 2,
        "prefer-es6-class": [
            0,
            2
        ],
        "import/prefer-default-export": 0,
        "import/named": 2,
        "import/extensions": [
            "error",
            "always",
            {
                "js": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "no-mixed-operators": 0,
        "quote-props": [
            "error",
            "consistent"
        ],
        "no-console": [
            "error",
            {
                "allow": [
                    "warn",
                    "error"
                ]
            }
        ],
        "no-confusing-arrow": 0,
        "no-unused-vars": [
            "warn",
            {
                "args": "after-used",
                "argsIgnorePattern": "^_"
            }
        ],
        "no-underscore-dangle": [
            "warn",
            {
                "allow": [
                    "__get__"
                ]
            }
        ],
        "arrow-parens": 0,
        "arrow-body-style": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "no-multi-spaces": ["error", { "ignoreEOLComments": true }]
    }
}
